@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import url(https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
.TopBanner {
  background: #ddd;
  overflow: hidden;
  height: 100px;
  transition: 0.5s all;
}
.TopBanner.on {
  height: 0;
}

.btn {
  display: inline-block;
  font-size: 30px;
  color: red;
}
.btn.on {
  transform: rotate(0.5turn);
}

.slick_s figure.on {
  background: red;
}

.slideDot li.on a {
  color: red;
}
